.git
.idea
.vscode
.zed
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
public/hot
.env
.env.*
!.env.example
Dockerfile
docker-compose*.yml
npm-debug.log
yarn-error.log
*.log
.DS_Store
